ElektraIn/Service References/RTIService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RTIAutoConfirmation" />
  <xs:element name="IsWithinMargin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestinationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArticleCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RTIAutoConfirmation" minOccurs="0" name="enumAccommodationType" type="q1:AccommodationType" />
        <xs:element minOccurs="0" name="StartWeek" type="xs:int" />
        <xs:element minOccurs="0" name="Duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWithinMarginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsWithinMarginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>