ElektraIn/Service References/RTIService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsWithinMargin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestinationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArticleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StarDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="BookingNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Age" type="xs:int" />
        <xs:element minOccurs="0" name="SalesOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWithinMarginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsWithinMarginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>